{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

<div>

    <div class = "top">
        <div>
            {% for card in game.handEnemy2 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>
    </div>

     <div class = "middle">
        <div>
            {% for card in game.handEnemy1 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>

        <div class="pile">
            <div class="card {{ pileCard.color }}">{{ pileCard.number }}</div>
        </div>

        <div>
            {% for card in game.handEnemy3 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="bottom">
        <div>
            {% for index, card in game.handPlayer %}
                {% if card in playableCards %}
                    <a href="{{ path('app_player', {id: game.id, card: index}) }}">
                        <div class="card {{ card.color }}">{{ card.number }}</div>
                    </a>
                {% else %}
                    <div class="card {{ card.color }}">{{ card.number }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

{% if game.currentTurn != 0 %}
    <script>
        setTimeout(function () {
            window.location.href = "{{ path('app_ennemy', {id: game.id, enemy: game.currentTurn}) }}";
        }, 2000);
    </script>
{% endif %}

{% endblock %}