{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

<h1>My Uno</h1>

<div class = "table">

    <div class ="top">
        <h2>Joueur 2</h2>
        <div class = "hand">
            {% for card in game.handEnemy2 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>
    </div>

     <div class = "middle">
        <div class="hand hand-left">
        <h2>Joueur 1</h2>
            {% for card in game.handEnemy1 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>

        <div class = "pile">
            <div class="card {{ pileCard.color }}">{{ pileCard.number }}</div>
        </div>

        <div class="hand hand-right">
        <h2>Joueur 3</h2>
            {% for card in game.handEnemy3 %}
                <div class="card {{ card.color }}">{{ card.number }}</div>
            {% endfor %}
        </div>
    </div>

    <div class = "bottom">
        <h2>Mon jeu</h2>
        <div class="hand">
            {% for index, card in game.handPlayer %}
                {% if card in playableCards %}
                    <a href="{{ path('app_player', {id: game.id, card: index}) }}">
                        <div class="card {{ card.color }} playable">{{ card.number }}</div>
                    </a>
                {% else %}
                    <div class="card {{ card.color }}">{{ card.number }}</div>
                {% endif %}
            {% endfor %}

            {% if game.currentTurn == 0 and playableCards is empty %}
                <a href="{{ path('app_draw', {id: game.id}) }}">
                    <div class="btn draw">Piocher</div>
                </a>
            {% endif %}
        </div>

    </div>

</div>

{% if game.currentTurn != 0 %}
    <script>
        setTimeout(function () {
            window.location.href = "{{ path('app_ennemy', {id: game.id, enemy: game.currentTurn}) }}";
        }, 2000);
    </script>
{% endif %}

{% endblock %}