{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

<p>
    Couleur : {{ game.pile.color }}
    </br>
    Nombre : {{ game.pile.number }}
</p>

<ul>
    {% for card in game.handPlayer %}
        {% if card.color != game.pile.color and card.number != game.pile.number %}
        <li>
            {{ card.color }} + {{ card.number }}
        </li>
        {% else %}
        <button>
            {{ card.color }} + {{ card.number }}
        </button>
        {% endif %}
    {% endfor %}
</ul>



{% endblock %}
